       <button id="scrapeButton"><a href="/scrape">Scrape</a></button>
   <div id="wrapper">
      <h1>Scraped</h1>


        <ul>
          {{#each article}}
          
          <li>
            
            <div class="headline" data-id="{{_id}}">{{title}}</div>
          <p >{{link}}</p>

          <button class="buttonSaved" data-id="{{_id}}"> saved</button>
          <div id="notes"></div>
          </li>
     
          {{/each}}
        </ul>

 
    </div>